<footer>
  <p>
    <a href="/">&nbsp;Trang chủ&nbsp; </a> | <a href="/lien-he">&nbsp;Liên hệ&nbsp; </a> | <a href="/quyen-gop">&nbsp;Quyên góp&nbsp; </a> | <a href="/">&nbsp;Điều
      khoản dịch vụ&nbsp; </a> | <a href="/">&nbsp;Chính sách quyền riêng tư&nbsp; </a>
  </p>
  <p>© 2025 Nguyễn Hồng Vân, Hoàng Phương Linh, Lưu Ngọc Hiền</p>
</footer>