<header>
  <details id="menu">
    <summary>≡</summary>
    <ul>
      <li>
        <a href="/">&nbsp;Trang chủ&nbsp;</a>
      </li>
      <li>
        <a href="/lien-he">&nbsp;Liên hệ&nbsp;</a>
      </li>
      <li>
        <a href="/quyen-gop">&nbsp;Quyên góp&nbsp;</a>
      </li>
    </ul>
  </details>
  <img src="/img/logo.png" alt="Logo thư viện." id="logo" />   
</header>