<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Đăng nhập</title>
  <link rel="stylesheet" href="/css/styleloginandregis.css">
</head>
<body>
  <div class="container">
    <div class="left-side"></div>
    <div class="right-side">
      <form action="/id" method="POST">
        <h2>Đăng nhập</h2>
        <input type="text" name="username" placeholder="Tên đăng nhập" required>
        <input type="password" name="password" placeholder="Mật khẩu" required>
        <button type="submit">Đăng nhập</button>
      </form>
    </div>
  </div>
  <%- include("../parts/alert.ejs") %>
  <% if (locals.message == "Đăng nhập thành công!") { %>
    <script>
        window.location.href = "/"; 
    </script>
  <% } %>
</body>
</html>